{% for item in site.data.badges %}
<a href={{ item.url }} target="_blank"><img title="{{ item.text }}" src={{ item.src }} class="badge" alt="{{ item.text }}"></a>
{% endfor %}

<!--<a href="https://512kb.club" target="_blank"><img alt="Member of the 512KB Club Green's team" src="/assets/img/badges/512kb.gif" /></a> -->
<!--<a href="/feed.xml" target="_blank"><img alt="RSS feed" src="/assets/img/badges/rss.gif" /></a> -->
<!--<a href="https://100daystooffload.com" target="_blank"><img alt="Anything but Chrome" src="/assets/img/badges/100Days.gif" /></a> -->
<!--<a href="https://fosstodon.org/@joel" target="_blank"><img src="/assets/img/badges/mastodon_button_3.gif" alt="Follow me on Fosstodon!"></a>-->
<!--<a href="https://wiby.me" target="_blank"><img src="/assets/img/badges/Wiby.gif" alt="Wiby: the search engine for the classic web!"></a>-->
<!--<a href="https://thewebisfucked.com" target="_blank"><img src="/assets/img/badges/web3.gif" alt="Say no to web3"></a>-->
<!--<a href="https://firefox.com" target="_blank"><img alt="Anything but Chrome" src="/assets/img/badges/firefox4.gif" /></a> -->
<!--<a href="https://neovim.io" target="_blank"><img alt="Made with neovim" src="/assets/img/badges/neovim.gif" /></a> -->
<!--<a href="https://voidlinux.org" target="_blank"><img alt="Switch to Void Linux" src="/assets/img/badges/void.webp" /></a> -->
<!--<a href="https://joelchrono12.xyz" target="_blank"><img alt="Add my badge to your website! I'll add yours back!" src="/assets/img/badges/joelchrono12.gif" /></a> -->
<!--<a href="https://bookrastinating.com" target="_blank"><img height="31px"alt="Join my Bookwyrm instance (Its not actually owned by me)" src="/assets/img/badges/bookrastinating.png" /></a> -->
