<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{{ page.title }}</title>
	<meta name="description" content="{{ page.description }}" />
	{% feed_meta %}
	<!-- Centered viewport --> 
	<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css" />-->
	<link rel="stylesheet" href="/assets/css/custom.css"/>
	<link rel="stylesheet" href="/assets/css/coding.css"/>
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png"/>
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png"/>
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png"/>
	<link rel="manifest" href="/assets/favicon/site.webmanifest"/>
	{% if page.image %}
	<meta property="og:image" content="{{ site.url }}/{{ page.image }}"/>
	<meta name="twitter:image" content="{{ site.url }}/{{ page.image }}"/>
	<meta name="twitter:card" content="summary_large_image"/>
	{% else %}
	<meta property="og:image" content="{{ site.url }}/assets/img/banner.png"/>
	<meta name="twitter:image" content="{{ site.url }}/assets/img/banner.png"/>
	<meta name="twitter:card" content="summary_large_image"/>
	{% endif %}
</head>
