<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{{ page.title }}</title>
	<meta name="description" content="{{ page.description }}" />
	{% feed_meta %}
	<!-- Centered viewport --> 
	<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css" />-->
	<link rel="stylesheet" href="/assets/css/custom.css"/>
	<link rel="stylesheet" href="/assets/css/coding.css"/>
	<!--<link rel="stylesheet" href="/assets/css/revenge.css"/>-->
	<link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
	<link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="Joelchrono" />
	<link rel="manifest" href="/assets/favicon/site.webmanifest" />
	<link rel="me" href="https://mstdn.mx/@jojoy"/>
	<link rel="me" class="u-url" href="https://polymaths.social/@joel"/>
	<link rel="me" class="u-url" href="https://fosstodon.org/@joel"/>
	<link href="mailto:me@joelchrono.xyz" rel="me"/>
	<meta property="fediverse:creator" content="@joel@fosstodon.org" />
	{% if page.image %}
	<meta property="og:image" content="{{ site.url }}/{{ page.image }}"/>
	<meta name="twitter:image" content="{{ site.url }}/{{ page.image }}"/>
	<meta name="twitter:card" content="summary_large_image"/>
	{% else %}
	<meta property="og:image" content="{{ site.url }}/assets/img/banner.png"/>
	<meta name="twitter:image" content="{{ site.url }}/assets/img/banner.png"/>
	<meta name="twitter:card" content="summary_large_image"/>
	{% endif %}
	{% if page.layout != 'none' %}
	<script defer src="/_vercel/insights/script.js"></script>
	<script async src="/assets/js/toggleAnimation.js"></script>
	<script> window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); }; </script>
	{% endif %}
</head>
