<div class="article-content">
  <p>You can <a class="button" href="https://{{page.host}}/interact/{{ page.com_id }}?=type=reply">Reply with Mastodon</a> to the following <a class="button" href="https://{{ page.host }}/@{{ page.username }}/{{ page.com_id }}">post</a>.</p>
  <details id="mastodon-comments-list"><summary id="load-comment">Load comments</summary></details>
  <noscript><p>You need JavaScript to view the comments.</p></noscript>
<script src="/assets/js/purify.js"></script>
<script type=text/javascript" </script>
</div>

