<nav>
    <ul>
        {% for item in site.data.navigation %}
        {% if item.link == page.url %}
        <li><a class="nav-current" href="{{ item.link }}">{{ item.name }}</a></li>
        {% elsif page.url != item.link %}
        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
        {% endif %}
        {% endfor %}
        <li><a href="/more/">More</a>
            <ul class="dropdown">
                <li><a href="/more/blogroll">Blogroll</a></li>
                <li><a href="/more/uses">Uses</a></li>
                <li><a href="/more/tags">Tags</a></li>
                <li><a href="/more/origami">Origami</a></li>
                <li><a href="/more/booklog">Booklog</a></li>
                <li><a href="/more/projects">Projects</a></li>
                <li><a href="/more/stats">Stats</a></li>
            </ul>
        </li>
    </ul>
</nav>

