<div class="gamebox-area">
    <div class="game-box">
        <h2>Deep Into the Volcano</h2>
        <img src="/assets/img/game-art/ditv.webp" alt="Deep into the Volcano cover art">
        <div class="desc"> My entry for Ludum Dare 48, a simple game with two levels where you try to escape the Lava coming towards you!</div>
        <a class="button" href="https://joelchrono12.itch.io/deep-into-the-volcano">Play on itch.io</a>
    </div>
    <div class="game-box">
        <h2>Swap Die Repeat</h2>
        <img src="/assets/img/game-art/sdr.webp" alt="Swap Die Repeat cover art">
        <div class="desc"> For my first game jam! A 2D puzzle platformer made with Godot, swap characters until you die! (but you should try to avoid that)</div>
        <a class="button" href="https://joelchrono12.itch.io/swap-die-repeat">Play on itch.io</a>
    </div>
    <div class="game-box">
        <h2>Cliff Hanger</h2>
        <img src="/assets/img/game-art/ch.webp" alt="Cliff_Hanger's cover art">
        <div class="desc">Yet another A 2D platformer, but you have to complete the levels in 12 seconds or less, how? By stopping time!, somehow...</div>
        <a class="button" href="https://joelchrono12.itch.io/cliff-hanger">Play on itch.io</a>
    </div>
    <div class="game-box">
        <h2>Only Spaceship</h2>
        <img src="/assets/img/game-art/os.webp" alt="Only Spaceship's cover art">
        <div class="desc">A rushed out game that is kinda wonky and broken. A spaceshooter where you survive as long as you can! Until its too unfair.</div>
        <a class="button" href="https://joelchrono12.itch.io/only">Play on itch.io</a>
    </div>
</div>
