<link rel="stylesheet" type="text/css" href="/assets/css/projects.css">
<div class="gamebox-area">
    <div class="game-box">
        <h2>Arcticons Icon Pack</h2>
        <img src="/assets/img/game-art/arcticons.png" alt="Arcticons icon pack showcase art">
        <p class="desc">A monotone line-based icon pack for Android where I contribute by designing icons with a focus on Free and Open Source Software</p>
        <a class="button" href="https://github.com/Donnnno/Arcticons">See more!</a>
        <br>
    </div>
    <div class="game-box">
        <h2>Deep Into the Volcano</h2>
        <img src="/assets/img/game-art/ditv.webp" alt="Deep into the Volcano cover art">
        <p class="desc"> My entry for Ludum Dare 48, a simple game with two levels where you try to escape the Lava coming towards you!</p>
        <a class="button" href="https://joelchrono12.itch.io/deep-into-the-volcano">See more!</a>
        <br>
    </div>
    <div class="game-box">
        <h2>Swap Die Repeat</h2>
        <img src="/assets/img/game-art/sdr.webp" alt="Swap Die Repeat cover art">
        <p class="desc"> For my first game jam! A 2D puzzle platformer made with Godot, swap characters until you die! (but try not to)</p>
        <a class="button" href="https://joelchrono12.itch.io/swap-die-repeat">See more!</a>
        <br>
    </div>
    <div class="game-box">
        <h2>Cliff Hanger</h2>
        <img src="/assets/img/game-art/ch.webp" alt="Cliff_Hanger's cover art">
        <p class="desc">Yet another A 2D platformer, but you have to complete the levels in 12 seconds or less, how? By stopping time!, somehow...</p>
        <a class="button" href="https://joelchrono12.itch.io/cliff-hanger">See more!</a>
        <br>
    </div>
    <div class="game-box">
        <h2>Only Spaceship</h2>
        <img src="/assets/img/game-art/os.webp" alt="Only Spaceship's cover art">
        <p class="desc">A rushed out game that is kinda wonky and broken. A spaceshooter where you survive as long as its not unfair.</p>
        <a class="button" href="https://joelchrono12.itch.io/only">See more!</a>
        <br>
    </div>
</div>
