<ul>
    <li><a href="https://github.com/Donnnno/Arcticons"><b>Arcticons Icon Pack</b></a><br>
        A monotone line-based icon pack for Android where I contribute by designing icons with a focus on Free and Open Source Software</li>

    <li><a href="https://joelchrono12.itch.io/deep-into-the-volcano"><b>Deep Into the Volcano</b></a><br>
        My entry for Ludum Dare 48, a simple game with two levels where you try to escape the Lava coming towards you!</li>

    <li><a href="https://joelchrono12.itch.io/swap-die-repeat"><b>Swap Die Repeat</b></a><br>
        For my first game jam! A 2D puzzle platformer made with Godot, swap characters until you die! (but try not to)</li>

    <li><a href="https://joelchrono12.itch.io/cliff-hanger"><b>Cliff Hanger</b></a><br>
        Yet another A 2D platformer, but you have to complete the levels in 12 seconds or less, how? By stopping time!, somehow...</li>

    <li><a href="https://joelchrono12.itch.io/only"><b>Only Spaceship</b></a><br>
    A rushed out game that is kinda wonky and broken. A spaceshooter where you survive as long as its not unfair.</li>
</ul>
