<!--<div class="widget-area">-->
    {% if page.permalink != '/' and page.permalink != '/blog/'%}
    <!--<div class="col-left">-->
        <!--<section class="box">-->
            <h1>Recent Posts</h1>
            {% for post in site.posts limit:4 %}
            {% if page.title != post.title %}
            <article>
            <b><a href="{{ post.url }}">{{ post.title }}</a></b>
            <div>{{ post.description }}</div>
            <small>{{ post.date | date: "%b %d, %Y" }}</small>
            </article>
            {% endif %}
            {% endfor %}
        <!--</section>-->
    <!--</div>-->
    {% endif %}
<!--</div>-->
