div.comment-content{
  display: flex;
  align-items: center;
  justify-content: start;
}

img.avatar{
  width: 5rem;
  margin-right: 1rem;
}

div.mastodon-username{
  font-size: .9rem;
}

.mastodon-comment-content{
  text-decoration: none;
  font-size: 1.1rem;
  padding-bottom: .6rem;
}

.reply-child {
  margin-left: 3rem;
}
