:root {

  /* Set sans-serif & mono fonts */
  --sans-font:-apple-system,BlinkMacSystemFont,Lato,"Nimbus Sans L",Avenir,"Noto Sans","Segoe UI",Arial,Helvetica,"Helvetica Neue",sans-serif;
  --mono-font:"mononoki Nerd Font","Ubuntu Mono","Fira Code","Fira Mono",Consolas,Menlo,Monaco,"Andale Mono","Droid Sans Mono",monospace;

  /* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
  --base-fontsize: 1.21rem;

  /* Major third scale progression - see https://type-scale.com/ */
  --header-scale: 1.125;

  /* Line height is set to the "Golden ratio" for optimal legibility */
  --line-height: 1.6;

  /* Dark theme */

  --bg: #242933;
  --accent-bg: #3b4252;
  --text: #eceff4;
  --text-light: #d8dee9;
  --border: #88c0d0;
  --accent: #a3be8c;
  --accent-light: #bf616a;
  --code: #ebcb8b;
  --code-bg: #2e3440;

}

header{
  width: 100vw;
  padding: .6rem 0rem;
  text-align: center;
}
header p {
  width: auto;
  padding: 0 0;
  
}
html {
  scroll-behavior: smooth;
}

h2:before {
    content: "# ";
}
h3:before {
    content: "## ";
}
h4:before {
    content: "### ";
}
h5:before {
    content: "#### ";
}
h6:before {
    content: "##### ";
}

/* Format navigation */
nav {
  text-align: center;
  font-size: 1rem;
  line-height: 2;
}

nav a {
  background: var(--border);
  border-radius: 8px;
  color: var(--bg) !important;
  transition: .2s;
}

nav a:hover {
  color: var(--bg) !important;
  border-color: var(--border);
  background: var(--border);
  opacity: 0.7;
}

nav a.current:hover {
  text-decoration: none;
}

/* Format links & buttons */

a,a:visited {
	color: var(--accent)
}

a:hover {
	color: var(--accent-light);
	text-decoration: none
}

.button,.button:visited{
  margin: 0 .1rem; 
  color: var(--bg);
  text-decoration: none;
  background-color: var(--accent); /* Green */
  border-radius: 5px;
  padding: .1rem .5rem;
  display: inline-block;
  font-size: 16px;
  transition: .2s
}

.button:hover{
  color: var(--bg);
  background-color: var(--accent); /* Green */
  border-radius: 5px;
  text-align: center;
  opacity: .8;
}

/* Format the expanding box */
details {
	padding: .6rem 1rem;
	background: var(--accent-bg);
	border: 1px solid var(--border);
	border-radius: 5px;
  	margin-bottom: 1rem;
}

summary {
	cursor: pointer;
	font-weight: bold;
}

details[open] {
	padding-bottom: .75rem;
}

details[open] summary {
	margin-bottom: .5rem;
}

details[open]>*:last-child {
	margin-bottom: 0;
}

/* Format tables */
table {
	border-collapse: collapse;
	width: 100%
}

td,
th {
	border: 1px solid var(--border);
	text-align: left;
	padding: .5rem;
}

th {
	background: var(--accent-bg);
  font-weight: bold;
}

tr:nth-child(even) {
	/* Set every other cell slightly darker. Improves readability. */
	background: var(--accent-bg);
}

table caption {
	font-weight: bold;
	margin-bottom: .5rem;
}

/* Lists */
ol,ul {
	padding-left: 3rem;
}

/* Format forms */
textarea,
select,
input {
  font-size: inherit;
  font-family: inherit;
	padding: .5rem;
	margin-bottom: .5rem;
  color: var(--text);
	background: var(--bg);
	border: 1px solid var(--border);
	border-radius: 5px;
	box-shadow: none;
	box-sizing: border-box;
  width: 60%;
}


.button,.button:visited{
  margin: 0 .1rem; 
  color: var(--bg);
  text-decoration: none;
  background-color: var(--accent); /* Green */
  border-radius: 5px;
  padding: .1rem .5rem;
  display: inline-block;
  font-size: 16px;
  transition: .2s
}

.button:hover{
  color: var(--bg);
  background-color: var(--accent); /* Green */
  border-radius: 5px;
  text-align: center;
  opacity: .8;
}



/* Use mono font for code like elements */
code,
pre,
kbd,
samp {
  color: var(--code);
}

kbd {
  border: 1px solid var(--code);
  border-bottom: 3px solid var(--code);
}

pre {
  background: var(--code-bg);
  border: none;
  border-radius: 5px;
}

/* Fix embedded code within pre */
pre code {
    color: var(--code);
}

div.scrollmenu {
  background-color: var(--bg);
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

div.scrollmenu a:hover {
	opacity:0.8;
}

mark {
	padding: 3px 6px;
	border-radius: 5px;
	background: var(--accent-light);
}


#myBtn {
  /*display: none; Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 1.5rem; /* Place the button at the bottom of the page */
  right: 1.5rem; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--accent); /* Set a background color */
  color: var(--bg); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  
}

#myBtn:hover {
  opacity: 0.8; /* Add a dark-grey background on hover */
}

.avatar{
    opacity: 0.9;
    width: 2.8rem;
    border-radius: 30%;
    padding: 2px 2px;
}

.comment-url{
	font-size: 0.9rem;
	color: var(--border);
	padding: 1rem;
}

.comment-content{
  	text-decoration: none;
  	margin: 1rem ;
  	padding: 0.5rem 1rem 0.5rem 1rem;
  	font-size: 1rem;
  	border-radius: 5px;
	line-height: var(--line-height);
	background: var(--code-bg);
}

.comment-content h1,.comment-content h2,.comment-content h3,.comment-content h4,.comment-content h5,.comment-content h6 {
	margin: var(--line-height) * 0.3rem;
	font-size: 1.2rem;
	padding-left: 1rem;
}

.comment-content img{
	margin-left: 2rem;
	border-radius: 5px;
	max-width: 40%;
}
