:root {
    /* Set sans-serif & mono fonts */
    --sans-font: "IBM Plex Sans","Roboto",-apple-system,BlinkMacSystemFont,"Nimbus Sans L",Avenir,"Noto Sans", "Segoe UI",Arial,Helvetica,"Helvetica Neue",sans-serif;
    --mono-font: "IBM Plex Mono","Roboto Mono","Ubuntu Mono","Fira Code","Overpass Mono", Monaco,"Droid Sans Mono",monospace;
    /* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
    --base-fontsize: 1.2rem;
    /* Major third scale progression - see https://type-scale.com/ */
    --header-scale: 1.185;
    /* Line height is set to the "Golden ratio" for optimal legibility */
    --line-height: 1.618;
    /*This is my dark themed color scheme*/
    --bg: #eceff4;
    --accent-bg: #d8dee9;
    --text: #4c566a;
    --text-light: #4c566a;
    --border: #4c566a;
    --accent: #bf616a;
    --accent-light: #5e81ac;
    --code: #2e3440;
    --code-bg: #e5e9f0;
}
@media (prefers-color-scheme:dark) {
    :root {
        --bg: #242933;
        --accent-bg: #3b4252;
        --text: #eceff4;
        --text-light: #d8dee9;
        --border: #88c0d0;
        --accent: #a3be8c;
        --accent-light: #bf616a;
        --code: #ebcb8b;
        --code-bg: #2e3440;
    }
}
html{
    font-family: var(--sans-font);
}
hr{
    color: var(--border);
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0;

}
body {
    padding: 20px;
    background-color: var(--bg);
    color: var(--text);
    font-size: 1.1rem;
    line-height: var(--line-height);
    margin: 0 auto;
    max-width: 50rem;
}
main img, main video, embed {
    max-width: 100%;
    height: auto;
    opacity: 0.8;
    border-radius: 5px;
}
figure {
    margin: 0;
}
figcaption {
    font-size: .9rem;
    color: var(--text-light);
    text-align: center;
    margin-bottom: 1rem;
}
blockquote {
    color: var(--text-light);
    font-style: italic;

}
a {
    color: var(--accent);
}
a:hover {
    text-decoration: none
}
h1 {
    font-size: 1.3rem;
    color: var(--border);
    margin-bottom: 0px;
}
h2, h3, h4, h5, h6 {
    font-size: 1.2rem;
    color: var(--accent-light);
    margin-bottom: 0px;
}
p {
    padding: 0px;
}
code, pre, pre span, kbd, samp {
    font-family: var(--mono-font);
    color: var(--code);
    background: var(--code-bg);
    border-radius: 5px;
    padding: 0.12rem 0.3rem;
}
kbd {
    border: 1px solid var(--preformatted);
    border-bottom: 3px solid var(--preformatted);
    border-radius: 5px;
    padding: .1rem;
}
pre {
    padding: 1rem 1.4rem;
    max-width: 100%;
    overflow: auto;
    overflow-x: auto;
    background: var(--code-bg);
    border: none;
    border-radius: 5px;
}
pre code {
    font-family: var(--mono-font);
    background: none;
    margin: 0;
    padding: 0;
}
svg {
    width: 36px;
}
/* Format navigation */
nav a {
    background: var(--code-bg);
    margin: 1rem 0 0 .5rem; 
    color: var(--border) !important;
    border-radius: 8px;
    display: inline-block;
    padding: .1rem .6rem;
    text-decoration: none;
    transition: .4s;
}
nav a.nav-current {
    background: var(--border);
    color: var(--bg) !important;
    font-weight: 700;
    opacity: 1;
}
nav a:hover {
    color: var(--bg) !important;
    border-color: var(--border);
    background: var(--border);
}
header h1{
    color: var(--accent) !important;
    display: inline-block;
}
header nav {
	display: inline-block;
	/*position: relative;*/
}

a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  border-radius: 5px;
  background: var(--accent);
  font-size: 1rem;
  color: var(--bg);
  text-decoration: none;
  padding: .7rem .9rem;
  margin: .5rem .1rem;
  transition: .4s;
}
