:root {
    /* Set sans-serif & mono fonts */
    --sans-font: "IBM Plex Sans","Roboto",-apple-system,BlinkMacSystemFont,"Nimbus Sans L",Avenir,"Noto Sans", "Segoe UI",Arial,Helvetica,"Helvetica Neue",sans-serif;
    --mono-font: "Mononoki Nerd Font","IBM Plex Mono","Roboto Mono","Ubuntu Mono","Fira Code","Overpass Mono", Monaco,"Droid Sans Mono",monospace;
    /* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
    --base-fontsize: 1rem;
    /* Major third scale progression - see https://type-scale.com/ */
    --header-scale: 1.185;
    /* Line height is set to the "Golden ratio" for optimal legibility */
    --line-height: 1.618;
    /*This is my dark themed color scheme*/
    --bg: #FFFFFF;
    --accent-bg: #F2F4F8;
    --text: #4c566a;
    --text-light: #4c566a;
    --border: #3b4252;
    --accent: #5e81ac;
    --accent-light: #5e81ac;
    --code: #2e3440;
    --code-bg: #e5e9f0;
}
@media (prefers-color-scheme:dark) {
    :root {
        --bg: #242933;
        --accent-bg: #3b4252;
        --text: #eceff4;
        --text-light: #d8dee9;
        --border: #88c0d0;
        --accent: #a3be8c;
        --accent-light: #bf616a;
        --code: #ebcb8b;
        --code-bg: #2e3440;
    }
}

a,
a:visited {
  color: var(--accent);
}

a:hover {
  text-decoration: none;
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
    @media not print {
        html {
        background:var(--bg);
         color:var(--text); }
        a {color: var(--accent);}
        a:visited {color: var(--accent);}
        a:hover,a:focus{color: var(--accent-light);}
    }
}



/*html {font-size: 100%;} [>16px<]*/

body {
    font-family: var(--mono-font);
    font-weight: 400;
    line-height: 1.75;
    max-width: 80ch;
    margin: 0 auto;
    padding: 18px;
    font-size:20px;
    /*color: #000000;*/
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Fira Code', monospace;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

hr{
  color: var(--border);
}

small, .text_small {font-size: 0.833rem;}
/* Using 800px as mobile screen in this example */
main img{
  max-width: 100%;
  height: auto;
  opacity: 0.8;
  border-radius: 8px;
}

code {
    font-size:14px;
    /* Word wrap is optional if you plan to have long inline code snippets */
    word-wrap:break-word;
}
pre {
    overflow:auto;
    line-height: 1.245rem;
}
/* Default table styles for this demo */
table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
table tr {
    border-bottom: 1px solid
}
table th, table td {
    padding: 10px 20px;
}
table td span {
    color: dimgrey;
    /*display: none;*/
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    /*position: absolute;*/
}
a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  border-radius: 5px;
  background: var(--accent);
  /*font-size: 1rem;*/
  color: var(--bg);
  text-decoration: none;
  padding: .7rem .9rem;
  margin: .5rem .1rem;
  transition: .4s;
}

button:hover, .button:hover, svg:hover{
    opacity: .8;
    cursor: pointer;
}
nav a {
    background: var(--code-bg);
    margin: .7rem .3rem; 
    color: var(--border) !important;
    border-radius: 8px;
    display: inline-block;
    padding: .3rem .6rem;
    text-decoration: none;
    transition: .4s;
}
nav a.nav-current {
    background: var(--border);
    color: var(--bg) !important;
    font-weight: 700;
    opacity: 1;
}
nav a:hover {
    color: var(--bg) !important;
    border-color: var(--border);
    background: var(--border);
}
