/* Games and projects section*/
.game-box{
    border-radius: 8px;
    background: var(--code-bg);
    padding: .5rem 1rem;
    min-width: 300px;
    margin: .5rem .5rem;
}
.gamebox-area{
    overflow: auto;
    display: flex;
    min-height: 2rem;
}
div.game-box h2{
    /*font-size: 1.6rem;*/
    margin-bottom: .4rem;
    line-height: 1.9rem;
    margin-top: 0;
}
.game-box img{
    max-width: 300px;
    border-radius: 8px;
    opacity: 0.8;
}

/*a.button{*/
    /*padding: 1rem;*/
    /*border-radius: 8px;*/
    /*color: var(--bg);*/
    /*background-color: var(--accent);*/
/*}*/

.origami-box{
    background-color: var(--code-bg);
    display: flex;
    flex-flow: row wrap;
}
.origami-box img{
    /*width: 200px;*/
}
