<!doctype html>
<html lang="en-US">
	{% include head.html %}
	<body>
		<header>
			<div class="header-container">
				<a title="home" href="/">
					<img class="logo" src="/assets/img/logo.svg">
				</a>
				{% include navigation.html %}
			</div>
			{% include breadcrumbs.html %}
		</header>
		<main class=main-container>
			<section class="content" id="content">
				<h1>{{ page.header }}</h1>
				<p class="description">{{ page.description }}</p>
				{{ content }}
			</section>
			<section class="sidebar">
				<h2>More on this site</h2>
				<p>Are you looking for more? Here's some more great content only for those who reach the bottom of this page. Suit yourself!</p>
				{% include recentposts.html %}
				{% include out.html %}
				{% include badges_footer.html %}
			</section>
		</main>
		<footer>
			{% include footer.html %}
		</footer>
	</body>
</html>
