---
layout: default
---

<p> 🗓️ <mark> {{ page.date | date_to_string }}</mark>

<div class="scrollmenu">🏷️
	{% for tag in page.tags %}
	<a href="/tags/{{ tag }}" class="button" >{{ tag }} </a>
	{% endfor %}
</div> 

</p>

{{ content }}

<h1>Comments</h1> 

{% if page.com_id %}
{% include mastodon.html%}
{% endif %}


{% if page.comments_id %}
{% include comments.html %}
{% endif %}
<hr>

<p>If you don't see an option to put comments, or if you don't want to, you can contact me ✉ by clicking any icon in the "Get in touch" section of the bottom of this page.</p>
